* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  width: 100vw;
  height: 50vh;
}

/* .status-container,
.context-container {
  width: 100vw;
  height: 40vh;
  background-color: #000;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.status {
  font-family: monospace;
  font-weight: 500;
  white-space: nowrap;
  color: limegreen;
} */
